body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #cac7c7;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-container {
    display: flex;;
    gap: 10px;
}

#todo-input { 
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#add-button {
    padding: 10px;
    background-color: #3fa4de;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#add-button:hover {
    background-color: rgb(56, 130, 210);
}

#todo-list {
    list-style: none;
    padding: 10px;
    margin-top: 30px;
}

#todo-list li {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

#todo-list li button {
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

